name: Clean

on:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch:
    inputs:
      deep_clean:
        type: boolean
        description: 启用彻底清理
        required: false
        default: false

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TZ: Asia/Shanghai

jobs:
  clean:
    runs-on: ubuntu-latest
    steps:
      - name: 检出当前仓库代码
        uses: actions/checkout@v6

      - name: 检查仓库资源状态
        id: status
        shell: bash
        env:
          REPO_OWNER: ${{ github.repository_owner }}
          REPO_NAME: ${{ github.event.repository.name }}
        run: |
          set -euxo pipefail
          mapfile -t run_list < <(gh run list --limit 2 2>/dev/null || :)
          run_count="${#run_list[@]}"

          mapfile -t rel_list < <(gh release list --limit 1 2>/dev/null || :)
          rel_count="${#rel_list[@]}"

          pkg_count=$(gh api "/orgs/${REPO_OWNER}/packages/container/${REPO_NAME}" &>/dev/null && echo '1' || echo '0')

          {
            echo "run_count=${run_count}"
            echo "rel_count=${rel_count}"
            echo "pkg_count=${pkg_count}"
          } >>"${GITHUB_OUTPUT}"

      - name: 清理 Actions 运行记录
        if: steps.status.outputs.run_count > '1'
        uses: Mattraks/delete-workflow-runs@v2
        with:
          retain_days: ${{ inputs.deep_clean && '0' || '30' }}
          keep_minimum_runs: ${{ inputs.deep_clean && '0' || '6' }}

      - name: 清理 GitHub 发布版本
        if: steps.status.outputs.rel_count != '0'
        uses: sgpublic/delete-release-action@v1.2
        with:
          release-drop: true
          release-keep-count: ${{ inputs.deep_clean && '-1' || '10' }}
          pre-release-drop: ${{ inputs.deep_clean && 'true' || 'false' }}
          pre-release-keep-count: -1
          draft-drop: ${{ inputs.deep_clean && 'true' || 'false' }}
          draft-drop-count: -1

      - name: 清理 GHCR 镜像仓库
        if: steps.status.outputs.pkg_count != '0'
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          keep-n-untagged: 0
          keep-n-tagged: ${{ inputs.deep_clean && '1' || '10' }}
